#wrapper {
    margin: auto;
    width: 800px;
    height: 800px;
}

#canvas {
    width: 800px;
    height: 600px;
    margin: 20px 0px;
    border: 1px solid black;
    position: relative;
    background: #FFFFFF;
}

.row {
    margin: 10px 0;
}